<div class="body-content">
    <div class="card m-4">
      <!-- Card header -->
      <div class="card-header d-flex justify-content-between align-items-center">
        <h4>Mi carrito</h4>
      </div>
  
      <!-- Card body -->
      <div class="card-body">
        <!-- loading  -->
        @if(loading) {
          <div class="text-center" >
            <img src="assets/loading.gif" class="img-loading" alt="">
          </div>
        }
        @if(!loading && carrito.length == 0) {
          <div class="text-center table-empty">
            <h4>Tu carrito está vacio.</h4>
          </div>
        } @else {
          <!-- Product table  -->
          <table class="table table-striped">
            <!-- encabezados de la tabla -->
            <thead>
              <tr class="table-primary">
                <th class="text-center">Producto</th>
                <th class="text-center">Precio</th>
                <th class="text-center">Cantidad</th>
                <th class="text-center">Total</th>
                <th class="text-center">Eliminar</th>
              </tr>
            </thead>
            <!-- contenido de la tabla -->
            <tbody>
              @for(c of carrito; track c; let i = $index ) {
                <tr> 
                  <td>
                    <div class="d-flex align-items-center">
                      <div class="image-container">
                        @if(c.image != "data:image/png;base64,"){
                          <img src="{{ c.image }}" class="d-block image-cart w-50" alt="...">
                        } @else {
                          <img src="assets/no-product-image2.png" class="d-block image-cart w-50" alt="No product image">
                        }
                      </div>
                      <div>
                        <h6 class="product-name-cart">{{ c.product.product }}</h6>
                      </div>
                    </div>
                  </td>
                  
                  <td class="text-center align-middle">{{ c.product.price | currency }}</td>
                  <td class="text-center align-middle">{{ c.quantity }}</td>
                  <td class="text-center align-middle">{{ c.product.price * c.quantity | currency }}</td>
                  <td class="text-center align-middle">
                    <span class="icon-text-button" (click)="deleteProduct(c.cart_id)"> <i class="ph ph-trash ph-trash-product"></i> </span>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        }
      </div>
    </div>