 <!-- Contenido -->
 <div class="body-content">
  <!-- Tabla categorías -->
  <div class="card m-4"> 
    <!-- header tabla -->
    <div class="card-header">
      <h3 class="m-2">Categorías</h3>
    </div>
    <!-- tabla -->
    <div class="card-body">
      <table class="table table-striped">
        <!-- encabezados de la tabla -->
        <thead>
          <tr class="table-dark">
            <th scope="col" >Id</th>
            <th scope="col">Categoría</th>
            <th scope="col">Tag</th>
            <th scope="col">Estatus</th>
          </tr>
        </thead>
        <!-- contenido de la tabla -->
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Hombres</td>
            <td>"moda-hombres-01"</td>
            <td>Disponible</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Mujeres</td>
            <td>"moda-mujeres-03"</td>
            <td>Disponible</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Accesorios</td>
            <td>"accesorios-02"</td>
            <td>Disponible</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Juevenil</td>
            <td>"moda-juvenil-01"</td>
            <td>Agotado</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Zapatería</td>
            <td>"zapatería-00"</td>
            <td>Agotado</td>
          </tr>
          <tr>
        </tbody>
      </table>
    </div>
    <!-- Pie de página de la tabla -->
    <div class="card-footer">
      <small>Tienda en línea</small>
    </div>
  </div>
</div>