<!-- Contenido -->
<div class="body-content">
    <!-- Tabla categorías -->
    <div class="card m-4"> 
      <!-- header tabla -->
      <div class="card-header">
        <h3 class="m-2">Categorías</h3>
      </div>
      <!-- tabla -->
      <div class="card-body">
        <table class="table table-striped">
          <!-- encabezados de la tabla -->
          <thead>
            <tr class="table-dark">
              <th scope="col" >Id</th>
              <th scope="col">Categoría</th>
              <th scope="col">Tag</th>
              <th scope="col">Estatus</th>
            </tr>
          </thead>
          <!-- contenido de la tabla -->
          <tbody>
            
            @for (category of categories; track category.id; let i = $index) {
                <tr>
                    <th>{{ category.id }}</th>
                    <td>{{ category.category }}</td>
                    <td>{{ category.tag }}</td>
                    <td>{{ category.status }}</td>
                </tr>
            }
          </tbody>
        </table>
      </div>
      <!-- Pie de página de la tabla -->
      <div class="card-footer">
        <small>Tienda en línea</small>
      </div>
    </div>
</div>

<div class="container">
  <!-- Boton para desplegar el modal para agregar categorías -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Nueva categoría
  </button>
</div>

<!-- Modal para agregar categorías -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>
