<footer class="footer mt-auto py-5 bg-body-tertiary">
    <div class="container">
        <div class="row">
            <!-- Columna 1 -->
            <div class="col">
                <h6>Contacto</h6>
                <p>Teléfono: +52 555 123 4567</p>
                <p>Email: naharajewels&#64;gmail.com</p>
            </div>
            <!-- Columna 2 -->
            <div class="col">
                <h6>Redes Sociales</h6>
                <p><a href="#">Facebook</a></p>
                <p><a href="#">Twitter</a></p>
                <p><a href="#">Instagram</a></p>
            </div>
            <!-- Columna 3 -->
            <div class="col">
                <h6>Dirección</h6>
                <p>Calle de México 123</p>
                <p>Ciudad de México, México</p>
                <p>01010</p>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3 mb-5"> 
            <p class="m-0 text-center" style="font-family: 'Sans-serif'; margin-bottom:25px;">NaharaJewelry &copy; 2024</p>
        </div>
    </div>
</footer>
