<footer class="footer pt-3 bg-body-tertiary">
    <div class="container">
        <div class="row">
            <!-- Columna 1 -->
            <div class="col">
                <h6>Servicio al Cliente</h6>
                <p><a href="#">Contáctanos</a></p>
                <p><a href="#">Llame ahora: +52 555 123 4567</a></p>
                <p><a href="#">Preguntas frecuentes</a></p>
                <p><a href="#">Cuidado y reparación</a></p>
                <p><a href="#">Guía de tallas</a></p>
            </div>
            <!-- Columna 2 -->
            <div class="col">
                <h6>Sobre nosotros</h6>
                <p><a href="#">Sobre Nahara</a></p>
                <p><a href="#">Sostenibilidad y Ética</a></p>
                <p><a href="#">Aviso de privacidad</a></p>
                <p><a href="#">Términos y Condiciones</a></p>
            </div>
            <!-- Columna 3 -->
            <div class="col">
                <h6></h6>
            </div>
            <div class="col">
                <h6>Lo último de Nahara</h6>
                <p>Suscríbete para recibir actualizaciones, acceso a ofertas</p>
                <p>exclusivas y mucho más.</p>

                <div class="newsletter-form">
                    <input type="email" class="form-control border-0" style="background-color: transparent; box-shadow: none; height: 25px; font-size: 12px; padding-left: 5px;" placeholder="Introduce tu correo electrónico" required>
                    <hr style="border: 0; border-top: 1px solid black; margin-top: 0px; margin-bottom: 5px; width: 90%; margin-left: 5px;">
                    <button type="submit" class="btn btn-transparent">Registrarme</button>
                </div>
                <div class="social-icons">
                    <a href="https://www.instagram.com" target="_blank">
                      <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://www.twitter.com" target="_blank">
                      <i class="fab fa-twitter"></i> <!-- O usa <i class="fab fa-x"></i> para el logo de X -->
                    </a>
                    <a href="https://www.pinterest.com" target="_blank">
                      <i class="fab fa-pinterest"></i>
                    </a>
                    <a href="https://www.youtube.com" target="_blank">
                      <i class="fab fa-youtube"></i>
                    </a>
                    <a href="https://www.facebook.com" target="_blank">
                      <i class="fab fa-facebook"></i>
                    </a>
                    <a href="https://www.tiktok.com" target="_blank">
                      <i class="fab fa-tiktok"></i>
                    </a>
                  </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3 mb-5"> 
            <p class="m-0 text-center" style="font-family: 'Sans-serif'; font-size:13px; margin-bottom:25px;">NaharaJewelry &copy; 2024</p>
        </div>
        <div class="col-md-4"></div>
    </div>
</footer>
