<footer class="footer mt-auto py-5 bg-body-tertiary">
    <div class="container">
        <div class="row">
            <!-- Columna 1 -->
            <div class="col">
                <h6>Servicio al Cliente</h6>
                <p>Contáctanos</p>
                <p>Llame ahora: +52 555 123 4567</p>
                <p>Preguntas frecuentes</p>
                <p>Cuidado y reparación</p>
                <p>Guía de tallas</p>
            </div>
            <!-- Columna 2 -->
            <div class="col">
                <h6>Sobre nosotros</h6>
                <p><a href="#">Sobre Nahara</a></p>
                <p><a href="#">Sostenibilidad y Ética</a></p>
                <p><a href="#">Aviso de privacidad</a></p>
                <p><a href="#">Términos y Condiciones</a></p>
            </div>
            <!-- Columna 3 -->
            <div class="col">
                <h6></h6>
            </div>
            <div class="col">
                <h6>Lo último de Nahara</h6>
                <p>Suscríbete para recibir actualizaciones, acceso a ofertas</p>
                <p>exclusivas y mucho más.</p>

                <div class="newsletter-form">
                    <input type="email" class="form-control" placeholder="Introduce tu correo electrónico" required>
                    <button type="submit" class="btn btn-primary mt-3">Registrarme</button>
                </div>
                
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3 mb-5"> 
            <p class="m-0 text-center" style="font-family: 'Sans-serif'; margin-bottom:25px;">NaharaJewelry &copy; 2024</p>
        </div>
    </div>
</footer>
