<div class="body-content">
    <div class="card m-4"> 
        <div class="card-body">
            <form>
                <!-- input for username -->
                <div class="mb-3">
                    <label for="inputUser" class="form-label">Usuario<span class="input-required">*</span></label>
                    <input type="text" class="form-control" id="inputUser" formControlName="user" placeholder="Nombre de usuario">
                </div>
                <!-- input for password -->
                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Contraseña<span class="input-required">*</span></label>
                    <input type="password" class="form-control" id="inputPassword" formControlName="password" placeholder="Contraseña">
                </div>
                <div class="form-button">
                    <button type="submit" class="btn btn-primary bt-save">Ingresar</button>
                </div>
            </form>
        </div>
    </div>
</div>