<li class="nav-item">
  <a 
    (click)="onItemSelected(item)" 
    [ngClass]="{
      'nav-link': true,
      'active': (item.route ? router.url.includes(item.route) : false)        
    }"
    [ngStyle]="{
      'cursor': 'pointer'
    }"
  >
    <ng-container *ngIf="item.displayName == 'Productos' && rol == 'USER'; else showLink">
      <div class="dropdown">
        <!-- dots button  -->
        <button class="dropdown-button" id="dropdownMenuButtonP" data-bs-toggle="dropdown" aria-expanded="false" (click)="getCategories()">
          <span> Productos </span>
        </button>
        <!-- menu options -->
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <ng-container *ngFor="let category of categories">
            <a class="dropdown-item" href="category/{{category.category_id}}">
              <span>{{category.category}}</span>
            </a>
          </ng-container>
        </div>
      </div>
    </ng-container>
    <!-- This will be shown if the condition is not met -->
    <ng-template #showLink>
      <span>{{ item.displayName }}</span>
    </ng-template>
  </a>
</li>